@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #e9e9e9;
}

.App {
  font-family: sans-serif;
  text-align: center;
  background-color: ;
}

nav {
  background-color: rgb(91, 51, 236);
  height: 70px;
  padding: 10px;
}

.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.home {
  padding: 15px;
}

.main {
  padding: 15px;
}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.2s all;
}

.nav-item:hover {
  text-decoration: underline;
  font-size: 19px;
}

.back-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: gray;
  border: none;
  color: white;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

.user {
  color: black;
  font-weight: bold;
  padding: 15px;
  width: 100px;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  border-radius: 5px;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
}

.user:hover {
  background-color: rgba(100, 252, 189, 0.993);
  border: 1px solid darkblue;
}

.active {
  background-color: rgba(100, 252, 189, 0.993);
  border: 1px solid darkblue;
}

.users {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin: 5px;
}

.user-post-container {
  display: flex;
}
.post-container {
  height: 70vh;
  flex: 1;
}

.post {
  border: 1px solid rgb(243, 147, 3);
  padding: 15px;
  margin-bottom: 5px;
}

.user-card {
  display: flex;
  flex-direction: column;
}


.clean {
  padding: 10px;
}
